<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- 数据库连接信息 -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>  
        
        <!-- 配置到jdbc.propertieswen文件里    
        <property name="connection.driver_class">com.jdbc.mysql.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/root</property>
        <property name="connection.username">root</property>
        <property name="connection.password">964123660</property>
         --> 
        <!-- 其他配置 -->
     
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property><!-- 自动建表 -->

        <!-- 导入映射文件 ，注意是/不是.分隔  -->
        <mapping resource="com/longpo/model/User.hbm.xml"/>
        <mapping resource="com/longpo/model/Role.hbm.xml"/>
         <mapping resource="com/longpo/model/Department.hbm.xml"/>
        
     
    </session-factory>

</hibernate-configuration>