@charset "utf-8";

/* 共用样式*/
body{ font-family:"宋体",Arial, Helvetica, sans-serif;
	margin:0; 
	padding:0; 
	background: url(../images/bjtop.gif) repeat-x #fff; font-size:12px; color:#272727;
}
html,body,div,p,h1,h2,h3,h4,h5,strong, span,dl,dt,dd,ul,li,ol,form,input,textarea,img,em,i{margin:0; padding:0; border:0; font-size:12px;}
ul li{list-style-type:none;}
img,input,textarea{vertical-align:middle;}
a:link{text-decoration:none; color:#404040; display:block;}
a:visited{color:#272727; text-decoration:none; display:block;}
a:hover{color:#4c94e5; text-decoration:none; display:block;}

.header{
	width:950px; 
	margin:0 auto; 
	padding-top:10px;
	clear:both;
	
	
}
.logo{
	width:187px; 
	float:left; 
	margin-top:15px;
	display:inline;
}
#nav{
	background:url(../images/index_new_05.gif) repeat-x; 
	width:745px;
	height:64px;
	line-height:64px;
	float:left;
	margin-left:15px;
	border-top:3px solid #2e2eff;
	border-bottom:1px solid #b2b2b2;
	display:inline;
	position:relative;
	z-index:9999;
}
#nav ul{margin-left:0px;}
#nav li{
	width:106px;
	font-size:14px;
	float:left;
	text-align:center;
	display:block;
	z-index:999;
	position:relative;
	
}
.dangqian a {
	display:block;
	color:#404040;
	text-align:center;
	font-weight:bold;
}
.dangqian a:hover {
	display:block;
	color:#4c94e5;
	background:url(../images/navbj.gif) no-repeat;
	margin-left:1px;
}
.dangqian1 a{
	display:block;
	color:#4c94e5;
	text-align:center;
	background:url(../images/navbj.gif) no-repeat;
	margin-left:1px;
	font-weight:bold;
}
.dangqian1 a:hover {
	display:block;
	color:#4c94e5;
	background:url(../images/navbj.gif) no-repeat;
	margin-left:1px;}
.qitanav, .dangqian1{
	background:url(../images/sss_08.gif) no-repeat left center; height:57px;}
.qitanav a {
	display:block;
	color:#404040;
	font-weight:bold;
	text-align:center;
}
.qitanav a:hover {
	display:block;
	color:#4c94e5;
	background:url(../images/navbj.gif) no-repeat;
	margin-left:1px;
}
#nav li ul {
	line-height: 33px; 
	display:none; left:0; 
	width:122px; 
	position: absolute;
	border:1px solid #b2b2b2; 
	border-top:0;
	
	
}
#nav li ul li{
	float: left; width: 122px;
	background:#F0EFF0;
}

#nav li ul a{
	display:block;
	text-align:left;
	padding:0 5px;
	background:none;
	font-weight:normal;
}
.footer_nav{
	width:980px;
	margin:0 auto;
}
#nav li ul a:link  {
 color:#404040; text-decoration:none;
}
#nav li ul a:visited  {
 color:#404040;text-decoration:none;
}
#nav li ul a:hover  {
	color:#F3F3F3;
	text-decoration:none; 
	font-weight:normal;
	background:#4c94e5;
}
#nav li.sfhover ul {
	left: auto;
}
#content {
	clear: left; 
}
.main{
	width:960px; 
	margin:0 auto;
	padding-top:15px;
	clear:both;
}
.main_top{
	background:url(../images/topxian.gif) no-repeat; 
	height:6px; 
	width:960px; 
	font-size:3px;
}
.main_cen{
	background:url(../images/dabj.gif) repeat-y; 
	width:960px;
	overflow:hidden;
	padding-bottom:10px;
}
.main_bottom{
	background:url(../images/bottombj.jpg) no-repeat; 
	height:7px; 
	width:960px;
	margin:0 auto;
}
.img_switch {
	MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 357px; z-index:2
}
.img_switch_content {
	WIDTH:960px; POSITION: relative; HEIGHT: 357px;
	
	
}
.img_switch_text {
	Z-INDEX: 10; RIGHT: -10px; WIDTH: 200px; POSITION: absolute; TOP: 318px; HEIGHT: 35px;
}
.number_nav {
	DISPLAY: inline; FLOAT: left;
}
.number_nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #fff; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;
}
.number_nav UL LI {
	FONT-WEIGHT: bold; BACKGROUND: #000; FILTER: alpha(opacity=75); FLOAT: left; WIDTH: 23px; CURSOR: pointer; LINE-HEIGHT: 17px; MARGIN-RIGHT: 8px; HEIGHT: 17px; TEXT-ALIGN: center; opacity: 0.75; -moz-opacity: 0.75;
}
#pic {
	OVERFLOW: hidden;
}

.main1{
	width:890px; 
	margin-top:30px;
	margin-left:32px;
	overflow:auto;_zoom:1;
	
}
.main1_left{
	width:428px; 
	float:left;
	display:inline;
}
.main1_left h2, .main1_right h2, .main2 h2{
	border-bottom:1px solid #d4d4d4;
	padding-bottom:10px;
	display:block;}
.main1_left p{
	line-height:24px;
	padding-top:10px;}
.gengduo{float:right;}
.main1_right{
	width:428px; 
	margin-left:33px;
	float:left;
}
.main1_right ul{padding-top:10px; }
.main1_right ul li{line-height:24px;  _line-height:8px;}
.main1_right span{float:right;}
.gengduo1{
	float:right;
	padding-top:10px;}
.main2{
	width:890px;
	margin:20px 0 0 32px;
}

.group_list{width:890px; margin:10px 0 0 0px; padding-bottom:10px; border-bottom:1px dashed #cfcfcf; overflow:hidden;}
.group_tw, .group_tw2{width:430px; margin-left:0px; float:left; display:inline;}
.group_tw img, .group_tw2 img{float:left; border:1px solid #cfcfcf; padding:2px; display:block;}
.group_tw dl, .group_tw2 dl{ width:288px; float:left; margin-left:10px;}
.group_tw dt, .group_tw2 dt{font-weight:bold; height:18px;}
.group_tw dd, .group_tw2 dd{ line-height:24px; text-indent:24px;}
.group_tw2{margin-left:30px;}
.xiangqing{float:right;}


.main3, .main5{margin:20px 0 0 32px;}
.green_line {
	BACKGROUND: #4c94e5; HEIGHT: 4px; OVERFLOW: hidden
}
.empty_line {
	HEIGHT: 5px; CLEAR: both; OVERFLOW: hidden;
}
.empty_line1 {
	PADDING-BOTTOM: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif, "宋体"; HEIGHT: 13px; COLOR: #000; CLEAR: both; FONT-SIZE: 13px; PADDING-TOP: 4px
}
.empty_line1 A {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif, "宋体"; COLOR: #009; FONT-SIZE: 13px
}

.line2 {
	CLEAR: both
}
.line2_l {
	WIDTH: 744px; FLOAT: left
}
.line2_l_l {
	MARGIN-TOP: 1px; WIDTH: 38px; DISPLAY: inline; BACKGROUND: #f1f1f1; FLOAT: left; HEIGHT: 166px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 1px; PADDING-TOP: 15%
}

.line2_l_title-g {
	BORDER-LEFT: #e4e4e4 1px double; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 876px; BACKGROUND: #f7f7f7; HEIGHT: 30px; CLEAR: both; BORDER-RIGHT: #a1aeb0 1px double
}
.line2_l_title-g01-3 {
	LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 120px; PADDING-RIGHT: 9px; FONT-FAMILY: "宋体"; BACKGROUND: #f5f5f5; FLOAT: left; HEIGHT: 25px; COLOR: #6ea13a; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.line2_l_title-g02 {
	LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 60px; PADDING-RIGHT: 9px; FONT-FAMILY: "宋体"; BACKGROUND: #f1f1f1; FLOAT: left; HEIGHT: 25px; COLOR: #6ea13a; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
.line2_l_main {
	POSITION: relative; BORDER-LEFT: #e4e4e4 1px double; WIDTH: 886px; ZOOM: 1; BACKGROUND: #fff; FLOAT: left; OVERFLOW: hidden; BORDER-RIGHT: #a1aeb0 1px double
}
.line2_l_main-1 {
	BORDER-LEFT: #e4e4e4 1px double; OVERFLOW-X: hidden; WIDTH: 886px; ZOOM: 1; BACKGROUND: #fff; FLOAT: left; HEIGHT: 100px; BORDER-RIGHT: #a1aeb0 1px double
}
.line2_l_m {
	POSITION: relative; BORDER-LEFT: #ccc 1px dotted; PADDING-LEFT: 10px; WIDTH: 790px; PADDING-RIGHT: 1px; ZOOM: 1; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 300px; OVERFLOW: hidden; BORDER-RIGHT: #a1aeb0 1px dotted
}
.line2ccc2 {
	POSITION: relative; OVERFLOW-X: hidden; OVERFLOW-Y: hidden; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 0px; MARGIN-LEFT: 40px; 
}
.line2_l_mfenlei {
	POSITION: relative; BORDER-LEFT: #ccc 1px dotted; OVERFLOW-X: hidden; PADDING-LEFT: 1px; WIDTH: 656px; PADDING-RIGHT: 1px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 0px; BORDER-RIGHT: #a1aeb0 1px dotted
}
.line2_l_r {
	TEXT-ALIGN: right; MARGIN-TOP: 1px; WIDTH: 38px; DISPLAY: inline; BACKGROUND: #f1f1f1; FLOAT: right; HEIGHT: 166px; MARGIN-LEFT: 1px; MARGIN-RIGHT: 2px; PADDING-TOP: 15%
}
.line2ccc {
	POSITION: relative; PADDING-LEFT: 2px; WIDTH: 750px; PADDING-RIGHT: 2px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 940px; MARGIN-LEFT: 15px; OVERFLOW: hidden
}
.soft {
	POSITION: relative; PADDING-BOTTOM: 2px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; WIDTH: 180px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 285px; MARGIN-LEFT: 5px; PADDING-TOP: 5px; margin-rigth: 5px; display:inline;
}
.softtubiao .soft_name {
	WIDTH: 65px; HEIGHT: 35px
}
.soft_title {
	FONT-WEIGHT: bold;
	padding-bottom:10px;
}
.soft .soft_name {
	FONT-FAMILY: Arial, Helvetica, sans-serif, "宋体"; HEIGHT: 18px; COLOR: #424242; FONT-SIZE: 13px
}
.soft .soft_img {
	POSITION: relative; 
	TEXT-ALIGN: center;  
	WIDTH:145px; 
	DISPLAY:table-cell; 
	HEIGHT:182px; 
	VERTICAL-ALIGN: middle; 
	BORDER:#0069b2 1px double; PADDING:5px 0;
}
.soft .soft_img IMG {
	MARGIN: auto; DISPLAY: inline !important; MAX-WIDTH: 135px; MAX-HEIGHT: 180px
}
.line2_r {
	FLOAT: right
}
.foot {
	CLEAR: both
}


#apDiv1 {
	Z-INDEX: 1; POSITION: absolute; MARGIN-TOP: 15px; MARGIN-LEFT: 10px
}
#apDiv2 {
	Z-INDEX: 1; POSITION: absolute; MARGIN-TOP: 20px; WIDTH: 900px; MARGIN-LEFT: 50px;
}
#apDiv3 {
	Z-INDEX: 1; POSITION: absolute; MARGIN-TOP: 20px; WIDTH: 50px; MARGIN-LEFT: 50px;
}
.apDiv2_l {
	FLOAT: left
}
.apDiv2_3 {
	MARGIN: 10px 5px 2px; FLOAT: left; COLOR: #4b5558
}
.apDiv2_4 {
	MARGIN: 10px 5px 2px; FLOAT: right; COLOR: #4b5558
}
.apDiv2_r {
	FLOAT: right
}
.ziti01 {
	LINE-HEIGHT: 22px; FONT-STYLE: normal; FONT-FAMILY: "宋体"; COLOR: #4b5558; FONT-SIZE: 13px
}
.ziti-boder {
	LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif, 宋体; COLOR: #6a6a6a; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.ziti-green {
	LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif, 宋体; COLOR: #6da237; FONT-SIZE: 13px
}
.ziti02 {
	COLOR: #646464; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.ziti05 {
	FONT-FAMILY: Arial, Helvetica, sans-serif, 宋体; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ziti-l {
	COLOR: #4d9c01; FONT-SIZE: 12px
}
.ziti-h {
	COLOR: #ff0000; FONT-SIZE: 12px
}
.ziti03 {
	FONT-FAMILY: Arial, Helvetica, sans-serif, "宋体"; COLOR: #404040; FONT-SIZE: 12px
}
.ziti04 {
	FONT-FAMILY: Arial, Helvetica, sans-serif, "宋体"; COLOR: #000000; FONT-SIZE: 14px
}
.softlist1 {
	BORDER-LEFT: #eaeaea 1px dotted; PADDING-LEFT: 40px; WIDTH: 2000px; PADDING-RIGHT: 35px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 582px; BORDER-RIGHT: #ccc 1px dotted
}
.softlistpingtai {
	BORDER-LEFT: #eaeaea 1px dotted; WIDTH: 742px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 100%; BORDER-RIGHT: #ccc 1px dotted
}
.softlist {
	POSITION: relative; WIDTH: 3000px; HEIGHT: 900px
}
.index-title-g01 {
	LINE-HEIGHT: 24px;   FONT-FAMILY: "宋体";  COLOR: #0069b2; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.soft{width:162px;}
.soft_info{padding-top:5px;}
.info_more{padding-top:5px;}

.main5{width:886px; background:url(../images/index_new_90.jpg) repeat-x #fff; border:1px solid #c8c8c8; margin-bottom:10px; overflow:hidden;} 
.main5 h2{margin:10px 0 10px 20px;}
.main5_waibao{width:278px; height:140px; border:1px solid #c8c8c8; margin:0 0 10px 10px; float:left;}
.main5_waibao h3{padding:12px 0 6px 10px; border-bottom:1px solid #efefef; text-indent:18px;}
.main5_waibao p{padding:5px 10px; line-height:24px; text-indent:24px;}

.ft{width:950px; margin:0 auto; clear:both;}
.ft p{ text-align:center; margin:15px 0; line-height:24px;}

/*  brandshow  */
.main_cen_left{width:249px; padding:0 0 20px 20px; float:left; }
.main_cen_left1{width:249px; padding-left:20px;}
.main_cen_left h2, .main_cen_left1 h2{margin:24px 0 20px 10px;}
.qita{
	background:url(../images/vv_23.jpg) no-repeat; 
	width:180px; 
	height:38px;
	line-height:38px;
	padding-left:40px;
	margin-top:2px;
	border:1px solid #d7d7d7;}
.dianji{background:url(../images/bb_13.jpg) no-repeat; height:38px; line-height:38px;
	width:180px;
	padding-left:40px;
	margin-top:2px;
	border:1px solid #d7d7d7;}
.main_cen_xian{float:left;}
.main_cen_right{width:612px; }
.wenzhi{margin-top:60px;
float: right;
font-size: 12px;
padding-left: 20px;

font-weight: normal;
line-height: 50px;}
.right_zhanshi{margin-top:40px;}
.right_zhanshi h2{
	background:url(../images/brandshow_10.jpg) no-repeat left center; 
	height:21px; 
	line-height:21px; 
	padding-left:30px;
	font-size:14px;
	font-weight:bold;
	color:#0069b2;}
.xian{margin-top:7px;}
.tuwen{margin-top:15px; padding-top:5px; background:#e3e3ff; overflow:hidden;}
.tuwen img{ padding:10px; background:#babafe;  margin:0 10px 0px 10px; border:1px solid #ababff;display:inline;}
.tuwen td{line-height:24px;}
.tuwen h3{margin:15px 0 0 15px;}
.tuwen p{line-height:24px; margin-left:15px; padding:0 10px;}

/*  tupiangundong  */
.blk_18{
	bmargin-top: 8px; 
	font-size: 12px;  
	overflow: hidden;  
	width: 612px; 
	zoom:1;
}
.blk_181{
	bmargin-top: 8px; 
	font-size: 12px;  
	overflow: hidden;  
	width: 612px; 
	zoom:1;
}
.blk_18 .pcont{
	float: left; 
	overflow: hidden; 
	width: 562px;
}
.blk_181 .pcont{
	float: left; 
	overflow: hidden; 
	width: 442px;
}
.blk_18 .ScrCont, .blk_181 .ScrCont{
width: 10000000px; 
}
.blk_18 #List1_1, .blk_181 #List1_1{
	float: left;
}
.blk_18 #List2_1, .blk_181 #List2_1{
float: left;
}
.blk_18 .LeftBotton, .blk_181 .LeftBotton{
background: url(../images/2010081201170647.gif) no-repeat; width: 15px; height: 72px; overflow:hidden;
	float:left;
	display:inline;
	margin-top:50px;
	cursor:pointer;
}
.blk_18 .RightBotton, .blk_181 .RightBotton{
background: url(../images/20100812011706471.gif) no-repeat; width: 15px; height: 72px; overflow:hidden;
	float:left;
	display:inline;
	margin-top:50px;
	cursor:pointer;
}
.blk_18, .blk_181{margin-top:15px;}
.blk_18 .LeftBotton, .blk_181 .LeftBotton{
background-position: 0px 0px; 
}
.blk_18 .RightBotton, .blk_181 .RightBotton{
background-position: 0px -100px;
}
.blk_18 .LeftBotton:hover, .blk_181 .LeftBotton:hover {
background-position: -20px 0px
}
.blk_18 .RightBotton:hover, .blk_181 .RightBotton:hover{
background-position: -20px -100px
}
.blk_18 .pl img, .blk_181 .pl img {
	DISPLAY: block; 
	CURSOR: pointer; 
}
.blk_18 .pl {
	float:left;  
	width:80px;
	LINE-height: 24px;  
	TEXT-ALIGN: center; 
	TEXT-DECORATION: underline;
	padding:0 15px;
	background:#fff;border:1px solid #ccc;display:block;
}
.blk_181 .pl {
	float:left;  
	width:200px;
	LINE-height: 24px;  
	TEXT-ALIGN: center; 
	TEXT-DECORATION: underline;
	padding:0 15px;
	background:#fff;border:1px solid #ccc;display:block;
}
.commu_cont3 {
margin: 9px 7px 7px; LINE-height: 150%
}
/* news */
.tuwen ul{width:580px; margin:0 0 15px 15px;}
.tuwen li{line-height:24px; *line-height:12px; _line-height:8px;}
.tuwen li span{float:right;}

